.resize {
  height: auto;
  width: auto;
  max-width: 250px;
  max-height: 300px;
}

input[type="text"] {
  width: 20rem;
  padding: 12px 20px;
  margin: 8px 2px;
  box-sizing: border-box;
  border: 2px solid #2198e7;
  border-radius: 4px;
}

.button {
  background-color: #2198e7;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.frame {
  border-radius: 5px;
  border: 2px solid #2198e7;
}
